{% extends "inventory/base.html" %}

{% block content %}

<h1>{{ header }}</h1>

{% load static %}
<link rel="stylesheet" href="{% static 'inventory/tables.css' %}">

<style>
	.row {
	  display: flex;
	}

	.column {
	  flex: 50%;
	}

	img {
  	border: 5px solid #333;
  	max-width: 400px;
  	max-height: 400px;
	}
</style>

<div class="row">
  <div class="column">

	<form method = "post" enctype="multipart/form-data">

		{% csrf_token %}

		<table class="content-table">
			<thead>
				<tr>
					<th>Field</th>
					<th>Value</th>
				</tr>
			</thead>
			<tbody>
				{% for item in form %}
				<tr>
					<td> {{item.label}} </td>
					<td>{{item}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<button type="submit">Submit</button>

	</form>

	</div>

	<div class="column">
		<img src="{{ image }}"><br/>
	</div>
</div>

{% endblock content %}